<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="author" content="Team RaceCar" />
<meta name="publisher" content="" />
<meta name="copyright" content="Daniel Senff" />
<meta http-equiv="content-Type" content="text/html; utf-8" />
<meta http-equiv="Pragma" content="cache" />
<meta name="robots" content="INDEX,FOLLOW" />
<meta http-equiv="content-Language" content="en" />
<meta name="description" content="RaceCar is a virtual motorsports team participating in Simracing leagues." />
<meta name="keywords" content="motorsports, racecar, virtual, simracing, racing, grand prix 3, grand prix 4, rfactor, rfactor2, GP3DL, GP4IL, DSTM" />

<meta property="og:title" content="RaceCar - Virtual Motorsports Team">
<meta property="og:site_name" content="RaceCar - Virtual Motorsports Team">
<meta property="og:url" content="//team-racecar.org">
<meta property="og:description" content="RaceCar is a virtual motorsports team participating in Simracing leagues.">
<meta property="og:type" content="website">
<meta property="og:image" content="<%= image_path 'social-graph.jpg' %>">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@team_racecar">
<meta name="twitter:description" content="RaceCar is a virtual motorsports team participating in Simracing leagues.">
<meta name="twitter:title" content="RaceCar - Virtual Motorsports Team">
<meta name="twitter:image" content="https://team-racecar.org/<%= image_path 'social-graph.jpg' %>">