---
title: RaceCar - Join us
---

<div class="intro vh-30">
<div class="intro-body">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<h1 class="brand-heading">GET IN TOUCH</h1>
			</div>
		</div>
	</div>
</div>
</div>

<section id="philosophy">
<div class="container content-section text-center">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="d-block">Philosophy</h2>
            <p>
                Praesent ac dignissim diam. Aliquam lobortis elit et sapien eleifend, at sollicitudin metus elementum. Morbi imperdiet id ipsum at tristique. Nam suscipit tristique sem, <a href="#">quis</a> laoreet leo. Maecenas eget ante ipsum.
            </p>
        </div>
    </div>
</div>
</section>

<section id="contact-form">
<div class="container content-section">
	<div class="row justify-content-center">
		<div class="col-md-8">
            <div id="contactform">
                <form action="https://formspree.io/xnqgrdrb" method="POST">
                    <input type="text" name="name" placeholder="Your Name" required>
                    <input type="email" name="_replyto" placeholder="Your E-mail Address" required>
                    <textarea name="message" rows="7" placeholder="Type your Message" required></textarea>
                    <input type="hidden" name="_subject" value="New message via RaceCar contact form!" />
                    <input type="text" name="_gotcha" style="display:none" />
                    <input type="hidden" name="_next" value="http://rcstaging.unmedial.de/thankyou.html" />
                    <input class="btn" type="submit" value="Send">
                </form>
            </div>
		</div>
	</div>
</div>
</section>

<section id="code-of-conduct">
<div class="container content-section text-center">
    <div class="row justify-content-center">
        <div class="col-md-8">
      <h2 class="d-block">Code of Condunct</h2>
            <p>
                Praesent ac dignissim diam. Aliquam lobortis elit et sapien eleifend, at sollicitudin metus elementum. Morbi imperdiet id ipsum at tristique. Nam suscipit tristique sem, <a href="#">quis</a> laoreet leo. Maecenas eget ante ipsum.
            </p>
        </div>
    </div>
</div>
</section>

