---
title: RaceCar - Virtual Racing Team
---

.intro
  .intro-body
    .container
      .row.justify-content-center
        .col-md-8
          p = image_tag 'logos/rc-logo-2020-inv.svg', style: 'width: 100px'
          h1.brand-heading RaceCar
          p.intro-text  Virtual Racing Team since 2001
          a.btn.btn-circle.page-scroll href="#pageid"
            i.fa.fa-angle-double-down.animated
/! About
section#aboutus
  .container.content-section.text-center
    .row.justify-content-center
      .col-md-8
        h2.d-block About us
        p RaceCar ist ein nicht kommerzielles virtuelles Motorsport-Team, das seit vielen Jahren in Online-Ligen verschiedener Rennsimulationen aktiv ist.
        ul.list-inline.banner-social-buttons
          li.d-inline
            a.btn.btnghost.btn-lg href="https://twitter.com/team_racecar"
              i.fa.fa-twitter.fa-fw
              span.network-name Twitter
          /!
            | <li class="d-inline"
            | <a href="https://www.facebook.com/pages/wowthemesnet/562560840468823" class="btn btnghost btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a
            | </li

            | <li class="d-inline"
            | <a href="https://github.com/wowthemesnet/template-aries-bootstrap-html" class="btn btnghost btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a
            | </li
/! Portfolio
section#portfolio
  .gallery
    ul.row
      li.col-md-3
        = image_tag 'pictures/146.jpg'
      li.col-md-3
        = image_tag 'pictures/37.jpg'
      li.col-md-3
        = image_tag 'pictures/30.jpg'
      li.col-md-3
        = image_tag 'pictures/106.jpg'
      li.col-md-3
        = image_tag 'pictures/overtake.jpg'
      li.col-md-3
        = image_tag 'pictures/GRAB_039.jpg'
      li.col-md-3
        = image_tag 'pictures/GRAB_015.jpg'
      li.col-md-3
        = image_tag 'pictures/80.jpg'
/! Contact
section#partner
  .container.content-section.text-center
    .row.justify-content-center
      .col-md-8
        h2 Support
        .row
          .col-md-3.m-auto
            = link_to 'http://racingpride.com/' do
              = image_tag 'logos/si-technics.png'

        p We support
        .row
          .col-md-3.m-auto
            = link_to 'https://blacklivesmatter.com/' do
              = image_tag 'logos/Black_Lives_Matter_logo2.svg'
          .col-md-3.m-auto
            = link_to 'http://racingpride.com/' do
              = image_tag 'logos/racing-pride.png'
