
<!-- Intro -->
<div class="intro">
<div class="intro-body">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<h1 class="brand-heading">Message Sent</h1>
				<p class="intro-text">
					Thank you. We will reply as soon as possible.
				</p>
			</div>
		</div>
	</div>
</div>
</div>
